header,
.translation,
#translabel,
.success,
footer {
    background-color: white;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}
header {
    top: 0;
    z-index: 3;
}
.translation {
    top: 28px;
}
#translabel,
.success {
    border-bottom: 1px dashed #25deea;
    top: 58px;
}
.page {
    min-height: 100%;
    padding: 80px 0 100px;
    position: relative;
}
footer { 
    border-top: 1px dashed #25deea;
    bottom: 0;
    height: 110px;
}
