.MOkH4e { /* основной блок .page */
	max-width: 99% !important;
}

.SL5JTc { /* лента языков */
	padding-left: 5px;
}

.rT1Yue[jsname="rPx1uf"] { /* для перестановки порядка языков */
	display: inline-flex !important;
}

/* удаление лишнего */
button[data-language-code="auto"], /* определить язык */
#ow183 > div > span > .Ydl7dd.q7sDqe.eT1oJ.yHy1rc.VfPpkd-Bz112c-LgbsSe, /* значок share внизу */
.RstnCb.sG5QRb, /* найти язык */
.rT1Yue.O7tFcd, /* последние выбранные языки*/
.ltCBQb /* значок выбранного последнего языка*/ { 
	display: none !important;
}

div.ordo2 { /* языки */
	border-right: 1px solid #ddd;
	display: none;
}

@media(device-width:1280px) {
	div.ordo2 {
		width: calc((1280px - 34px)/23);
	}
	div.ordo2 div:before {
		text-indent: 10px;
	}
}

@media(device-width:1366px) {
	div.ordo2 {
		width: calc((1366px - 35px)/23);
	}
	div.ordo2 div:before {
		text-indent: 13px;
	}
}

@media(device-width:1536px) { /* 1920/125%scale */
	div.ordo2 {
		width: calc((1536px - 37px)/23);
	}
	div.ordo2 div:before {
		text-indent: 17px;
	}
}

@media(device-width:1600px) {
	div.ordo2 {
		width: calc((1600px - 37px)/23);
	}
	div.ordo2 div:before {
		text-indent: 17px;
	}
}

@media(device-width:1920px) {
	div.ordo2 {
		width: calc((1920px - 41px)/23);
	}
	div.ordo2 div:before {
		text-indent: 24px;
	}
}

/* перестановка и выделение нужных языков */
div.ordo2[data-language-code="be"] {order: 0; display: inline-flex;}
div.ordo2[data-language-code="bg"] {order: 1; display: inline-flex;}
div.ordo2[data-language-code="da"] {order: 2; display: inline-flex;}
div.ordo2[data-language-code="de"] {order: 3; display: inline-flex;}
div.ordo2[data-language-code="el"] {order: 4; display: inline-flex;}
div.ordo2[data-language-code="en"] {order: 5; display: inline-flex;}
div.ordo2[data-language-code="eo"] {order: 6; display: inline-flex;}
div.ordo2[data-language-code="es"] {order: 7; display: inline-flex;}
div.ordo2[data-language-code="fi"] {order: 8; display: inline-flex;}
div.ordo2[data-language-code="fr"] {order: 9; display: inline-flex;}
div.ordo2[data-language-code="iw"] {order: 10; display: inline-flex;}
div.ordo2[data-language-code="hi"] {order: 11; display: inline-flex;}
div.ordo2[data-language-code="hu"] {order: 12; display: inline-flex;}
div.ordo2[data-language-code="id"] {order: 13; display: inline-flex;}
div.ordo2[data-language-code="it"] {order: 14; display: inline-flex;}
div.ordo2[data-language-code="ja"] {order: 15; display: inline-flex;}
div.ordo2[data-language-code="ko"] {order: 16; display: inline-flex;}
div.ordo2[data-language-code="pl"] {order: 17; display: inline-flex;}
div.ordo2[data-language-code="pt"] {order: 18; display: inline-flex;}
div.ordo2[data-language-code="ru"] {order: 19; display: inline-flex;}
div.ordo2[data-language-code="tr"] {order: 20; display: inline-flex;}
div.ordo2[data-language-code="uk"] {order: 21; display: inline-flex;}
div.ordo2[data-language-code="zh-CN"] {order: 22; display: inline-flex;}

div.ordo2 div { /* сдвигаем и белим полные названия языков */
	display: block;
	color: #fff;
    text-indent: 99px;
}

div.ordo2 div:before { /* новые отметки */
	color: #000;
	float: left;
}
div.ordo2[data-language-code="be"] > div:before {content: '🇧🇾 be ';}
div.ordo2[data-language-code="bg"] > div:before {content: '🇧🇬 bg ';}
div.ordo2[data-language-code="da"] > div:before {content: '🇩🇰 da ';}
div.ordo2[data-language-code="de"] > div:before {content: '🇩🇪 de ';}
div.ordo2[data-language-code="el"] > div:before {content: '🇬🇷 el ';}
div.ordo2[data-language-code="en"] > div:before {content: '🇺🇸 en ';}
div.ordo2[data-language-code="eo"] > div:before {content: '🏴 eo ';}
div.ordo2[data-language-code="es"] > div:before {content: '🇪🇸 es ';}
div.ordo2[data-language-code="fi"] > div:before {content: '🇫🇮 fi ';}
div.ordo2[data-language-code="fr"] > div:before {content: '🇫🇷 fr ';}
div.ordo2[data-language-code="iw"] > div:before {content: '🇮🇱 he ';}
div.ordo2[data-language-code="hi"] > div:before {content: '🇮🇳 hi ';}
div.ordo2[data-language-code="hu"] > div:before {content: '🇭🇺 hu ';}
div.ordo2[data-language-code="id"] > div:before {content: '🇮🇩 id ';}
div.ordo2[data-language-code="it"] > div:before {content: '🇮🇹 it ';}
div.ordo2[data-language-code="ja"] > div:before {content: '🇯🇵 ja ';}
div.ordo2[data-language-code="ko"] > div:before {content: '🇰🇷 ko ';}
div.ordo2[data-language-code="pl"] > div:before {content: '🇵🇱 pl ';}
div.ordo2[data-language-code="pt"] > div:before {content: '🇵🇹 pt ';}
div.ordo2[data-language-code="ru"] > div:before {content: '🇷🇺 ru ';}
div.ordo2[data-language-code="tr"] > div:before {content: '🇹🇷 tr ';}
div.ordo2[data-language-code="uk"] > div:before {content: '🇺🇦 uk ';}
div.ordo2[data-language-code="zh-CN"] > div:before {content: '🇨🇳 zh ';}
