.MOkH4e { /* основной блок .page */
	max-width: 99% !important;
}

.SL5JTc { /* лента языков */
	padding-left: 5px;
}

.rT1Yue[jsname="rPx1uf"] { /* для перестановки порядка языков */
	display: inline-flex !important;
}

/* удаление лишнего */
button[data-language-code="auto"], /* определить язык */
#ow183 > div > span > .Ydl7dd.q7sDqe.eT1oJ.yHy1rc.VfPpkd-Bz112c-LgbsSe, /* значок share внизу */
.RstnCb.sG5QRb, /* найти язык */
.rT1Yue.O7tFcd, /* последние выбранные языки*/
.ltCBQb /* значок выбранного последнего языка*/ { 
	display: none !important;
}

div.ordo2 { /* языки */
	border-right: 1px solid #ddd;
	display: none;
}

@media(device-width:1280px) {
	div.ordo2 {
		width: calc((1280px - 34px)/23);
	}
	div.ordo2 div:before {
		text-indent: 10px;
	}
}

@media(device-width:1366px) {
	div.ordo2 {
		width: calc((1366px - 35px)/23);
	}
	div.ordo2 div:before {
		text-indent: 13px;
	}
}

@media(device-width:1536px) { /* 1920/125%scale */
	div.ordo2 {
		width: calc((1536px - 37px)/23);
	}
	div.ordo2 div:before {
		text-indent: 17px;
	}
}

@media(device-width:1600px) {
	div.ordo2 {
		width: calc((1600px - 37px)/23);
	}
	div.ordo2 div:before {
		text-indent: 17px;
	}
}

@media(device-width:1920px) {
	div.ordo2 {
		width: calc((1920px - 41px)/23); /* подгон под кнопкоязыки. на этом бросил, остальных надо уточнять. причём реально меняя экран монитора, а не в консоли */
	}
	div.ordo2 div:before {
		text-indent: 24px;
	}
}

/* перестановка и выделение нужных языков */
div.ordo2[data-language-code="be"] {order: 0; display: inline-flex;}
div.ordo2[data-language-code="bg"] {order: 1; display: inline-flex;}
div.ordo2[data-language-code="da"] {order: 2; display: inline-flex;}
div.ordo2[data-language-code="de"] {order: 3; display: inline-flex;}
div.ordo2[data-language-code="el"] {order: 4; display: inline-flex;}
div.ordo2[data-language-code="en"] {order: 5; display: inline-flex;}
div.ordo2[data-language-code="eo"] {order: 6; display: inline-flex;}
div.ordo2[data-language-code="es"] {order: 7; display: inline-flex;}
div.ordo2[data-language-code="fi"] {order: 8; display: inline-flex;}
div.ordo2[data-language-code="fr"] {order: 9; display: inline-flex;}
div.ordo2[data-language-code="iw"] {order: 10; display: inline-flex;}
div.ordo2[data-language-code="hi"] {order: 11; display: inline-flex;}
div.ordo2[data-language-code="hu"] {order: 12; display: inline-flex;}
div.ordo2[data-language-code="id"] {order: 13; display: inline-flex;}
div.ordo2[data-language-code="it"] {order: 14; display: inline-flex;}
div.ordo2[data-language-code="ja"] {order: 15; display: inline-flex;}
div.ordo2[data-language-code="ko"] {order: 16; display: inline-flex;}
div.ordo2[data-language-code="pl"] {order: 17; display: inline-flex;}
div.ordo2[data-language-code="pt"] {order: 18; display: inline-flex;}
div.ordo2[data-language-code="ru"] {order: 19; display: inline-flex;}
div.ordo2[data-language-code="tr"] {order: 20; display: inline-flex;}
div.ordo2[data-language-code="uk"] {order: 21; display: inline-flex;}
div.ordo2[data-language-code="zh-CN"] {order: 22; display: inline-flex;}

div.ordo2 div { /* сдвигаем и белим полные названия языков */
	display: block;
	color: #fff;
    text-indent: 99px;
}

div.ordo2 div:before { /* новые отметки */
	color: #000;
	float: left;
	position: relative;
	left: 20px;
	text-indent: 23px;
	top: 4px;
}
div.ordo2[data-language-code="be"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/be.png) no-repeat;
	content: 'be';
}
div.ordo2[data-language-code="bg"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/bg.png) no-repeat;
	content: 'bg';
}
div.ordo2[data-language-code="da"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/dk.png) no-repeat;
	content: 'da';
}
div.ordo2[data-language-code="de"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/de.png) no-repeat;
	content: 'de';
}
div.ordo2[data-language-code="el"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/gr.png) no-repeat;
	content: 'el';
}
div.ordo2[data-language-code="en"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/gb.png) no-repeat;
	content: 'en';
}
div.ordo2[data-language-code="eo"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/eo.png) no-repeat;
	content: 'eo';
}
div.ordo2[data-language-code="es"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/es.png) no-repeat;
	content: 'es';
}
div.ordo2[data-language-code="fi"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/fi.png) no-repeat;
	content: 'fi';
}
div.ordo2[data-language-code="fr"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/fr.png) no-repeat;
	content: 'fr';
}
div.ordo2[data-language-code="iw"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/il.png) no-repeat;
	content: 'he';
}
div.ordo2[data-language-code="hi"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/in.png) no-repeat;
	content: 'hi';
}
div.ordo2[data-language-code="hu"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/hu.png) no-repeat;
	content: 'hu';
}
div.ordo2[data-language-code="id"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/id.png) no-repeat;
	content: 'id';
}
div.ordo2[data-language-code="it"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/it.png) no-repeat;
	content: 'it';
}
div.ordo2[data-language-code="ja"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/jp.png) no-repeat;
	content: 'ja';
}
div.ordo2[data-language-code="ko"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/kr.png) no-repeat;
	content: 'ko';
}
div.ordo2[data-language-code="pl"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/pl.png) no-repeat;
	content: 'pl';
}
div.ordo2[data-language-code="pt"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/pt.png) no-repeat;
	content: 'pt';
}
div.ordo2[data-language-code="ru"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/ru.png) no-repeat;
	content: 'ru';
}
div.ordo2[data-language-code="tr"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/tr.png) no-repeat;
	content: 'tr';
}
div.ordo2[data-language-code="uk"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/ua.png) no-repeat;
	content: 'uk';
}
div.ordo2[data-language-code="zh-CN"] > div:before {
	background: url(https://github.com/DavideViolante/Wikipedia-Flag-Icons/raw/master/Chrome%20Extension/WikipediaFlagIcons/flags/cn.png) no-repeat;
	content: 'zh';
}
