/* оголение фона */
.ct-note-content span {
	display: none;
}

/* анимация мерцания */
@keyframes bor_blink {
	0% { border-color: white; }
	50% { border-color: white; }
	51% { border-color: black; }
}

/* мерцание наклеек */
.ct_bg .ct-note {
	border: 1px solid;
	animation: bor_blink 3s ease-in infinite;
}
