/* ЛЕВОЕ МЕНЮ */
.nav-menu__item_of_mirrors, /* Индексирование/Переезд сайта */
.nav-menu__item_of_all-pages, /* Индексирование/Все страницы */
.nav-menu__item_of_serp-snippets, /* Представление в поиске */
.nav-menu__item_of_info, /* Информация о сайте */
.nav-menu__item_of_shop, /* Турбо-страницы для интернет-магазинов */
.nav-menu__item_of_del-url, /* Инструменты/Удаление страниц из поиска */
.nav-menu__item_of_xml-validator, /* Инструменты/XML-валидатор */
.nav-menu__item_of_settings.nav-menu__item_level_0, /* Настройки */
.nav-menu__item_of_useful-services { /* Полезные сервисы */
	display: none;
}

/* ГЛАВНОЕ ОКНО */
.announce, /* Анонс-плашки */
.content__chunk { /* Главное окно */
	border-radius: 30px;
}

/* УДАЛЕНИЕ УПОМИНАНИЙ ТУРБО-СТРАНИЦ ДЛЯ ИНТЕРНЕТ-МАГАЗИНОВ */
.dashboard-item_type_turbo-shop-pages, /* Сводка */
.quality__widget_type_shop-problems, /* Качество сайта/Показатели качества */
.turbo-problem-counter__item_type_counter div:nth-of-type(2) { /* Диагностика/Диагностика сайта */
	display: none;
}

.SiteSelect { /* выбор сайта */
	display: none;
}

/* ВЫПАДАЮЩЕЕ МЕНЮ СПРАВА ВВЕРХУ */
.menu_type_navigation li:nth-of-type(4),
.menu_type_navigation li:nth-of-type(5) {
	display: none;
} 

.CustomLangSwitcher { /* Языки в подвале */
	display: none;
}
